---
import CommonHeader from '../components/CommonHeader.astro';
import PokemonGrid from '../components/PokemonGrid.astro';

---

<html lang="en">
  <head>
    <CommonHeader title='Pokemon - gotta catch em all!' />
  </head>
  <body>
        <header class="container" transition:persist>
          <h1 class="text-8xl px-4 text-balance text-center">Pokemon!</h1>
        </header>
        <div class="container mx-auto">
            <PokemonGrid />
        </div>
  </body>
</html>
